video-recorded-demo.mkv
video-recorded-demo.mp4

node_modules/
vendor/
test/
dist/
build/
.vscode/


*.key
*.pass
*.secret
.env

private/**/*.key
private/**/*.secret
private/**/*.pass
private/**/*.password
private/**/secret*
private/**/password*
private/**/pass*